.add-product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.add-product-form {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.form-header {
    margin-bottom: 20px;
}

.form-header h3 {
    display: flex;
    align-items: center;
}
.search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px; /* Add margin to separate from the heading */
}
.add-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #28a745; /* Green background color */
    color: white; /* White text color */
    cursor: pointer;
    margin-left: 10px; /* Adjust the margin to separate from the search input */
}

.add-button:hover {
    background-color: #218838; /* Darker green color on hover */
}



.input-field, .select-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.save-btn {
    background-color: #007bff;
    color: white;
    margin-right: 10px;
}

.cancel-btn {
    background-color: #dc3545;
    color: white;
}
